@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

body {
    direction: rtl;
    cursor: default;
    color: aliceblue;
}

*,
*::after,
*::before {
    outline: none;
    box-sizing: border-box;
}